<p>
    Here are some of the robots I worked on through the end of college 🔥 (I haven't gotten around to documenting the robots since then here just yet, stay tuned!) I've also worked on <a href="https://www.skydio.com/">Skydio drones</a>, the <a href="https://getcruise.com">Cruise driverless car</a>, and the <a href="https://www.irobot.com">iRobot Roomba</a>, but I can't share details about those 🙂 I hope you enjoy learning about these robots as much as I enjoyed working on them 🙏
</p>
<p>
    I also did an <a href="https://www.youtube.com/watch?v=KjnLI9c2_7Y">interview about my lifelong adventure in robotics</a> and how to turn seemingly big failures into big successes 🚀 Check it out!
</p>