<head>
  <meta charset="UTF-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ .Params.site_title }}</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <link rel="stylesheet" href="/css/3-col-portfolio.css" type="text/css">
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro" rel="stylesheet">

  <script type='text/javascript' src='/js/jquery.min.js'></script>
  <script type='text/javascript' src='/js/bootstrap.bundle.min.js'></script>
  <script type='text/javascript' src='/js/jquery.mobile.customized.min.js'></script>
  <script type='text/javascript' src='/js/jquery.easing.1.3.js'></script> 
  <script type='text/javascript' src='/js/camera.js'></script> 
  <script type='text/javascript' src='/js/carosel.js'></script> 

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <script type='text/javascript' src='/js/responsive_youtube.js'></script>

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous"> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script> -->


  <link rel='stylesheet' id='camera-css'  href='/css/camera.css' type='text/css' media='all'> 
  <link rel='stylesheet' href='/css/carosel.css' type='text/css' media='all'> 

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Params.google_analytics_id }}"></script>
  <script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

  gtag('config', '{{ .Params.google_analytics_id }}');
  </script>
</head>

