<!DOCTYPE html>
<html>


{{ partial "header.html" . }}

<body>
    <div class="content" id="content">
        {{ partial "top-bar.html" . }}
        <p>
            {{ partial "description.html" . }}
        </p>
            <div class="container no-padding"><div class="row">
                
            {{ range (where .Site.RegularPages "Type" "project").ByWeight }}
                {{ partial "project-stub.html" . }}
            {{ end }}
                </div></div>
        </div>
    </div>
</body>

</html>
